body{
    background-image: url("imagem\ de\ fundo1.jpeg");
    background-repeat: no-repeat;
    height: 90vh;
}
h1{
    font-size: 85px;
    color: transparent;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #fa0000, #00a9fd);
    animation: animateGradient 2s linear infinite;
    -webkit-text-stroke: 2px #8fd3f4; 
    -moz-text-stroke: 2px #8fd3f4;
    -o-text-stroke: 2px #8fd3f4;
}

@keyframes animateGradient {
    0% {
    background-position: 0% 50%;
}
    50% {
    background-position: 100% 50%;
}
    100% {
    background-position: 0% 50%;
}
}
h3{
    font-size: 50px;
    color: transparent;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #00a9fd, #fa0000);
    animation: animateGradient 2s linear infinite;
    -webkit-text-stroke: 1px #8fd3f4; 
    -moz-text-stroke: 1px #8fd3f4;
    -o-text-stroke: 1px #8fd3f4;
}

@keyframes animateGradient {
    0% {
    background-position: 0% 50%;
}
    50% {
    background-position: 100% 50%;
}
    100% {
    background-position: 0% 50%;
}
}
img{
    border: 5px solid rgb(172, 12, 12);
    border-radius: 50px;
    position: fixed;
    left: 35%;
}
#campoum{
   text-align: center;
   position: relative;
   top: 19pc;
   right: 1pc;
}
#campoum p, #campoum input{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
p{
    font-size: 40px;
    color: transparent;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(90deg, #fa0000, #00a9fd);
    animation: animateGradient 2s linear infinite;
    -webkit-text-stroke: 2px #8fd3f4; 
    -moz-text-stroke: 2px #8fd3f4;
    -o-text-stroke: 2px #8fd3f4;
}

@keyframes animateGradient {
    0% {
    background-position: 0% 50%;
}
    50% {
    background-position: 100% 50%;
}
    100% {
    background-position: 0% 50%;
}
}
.inputum{
    border: solid 2px #5ca102;
    border-radius: 10px;
    padding: 7px;
}
.inputdois{
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #5ca102;
    background-color: #ffff;
    width: 8%;
    height: 45px;
    border-radius: 10px;
}
.inputdois:hover{
    background-color: #5ca102;
    color: #fff;
}